body {
    font-family: sans-serif;
    background-color:  #505050;
}

img {
    padding-top: 50px;
}

h1 {
    text-align: center;
}

.tabpanelen {
    overflow: hidden;
    
}

.tabpanelen li {
    list-style-type: none;
    float: left;
    border-style: solid;
    border-width: thin ;
    background-color: azure;
    
}
.tabpanelen li.actief {
    background-color: cornflowerblue; 
    
}
.tabpaneel {
    display: none; 
}
.tabpaneel.actief {
  display:block; !important;
}
.tabpaneel img {
    max-width: 100%;
}